

.btn {
    border: 1px solid $primary-color-blue;
    background-color: $primary-color-blue !important;

    &:hover{
        color: $primary-color-blue !important;
        background-color: $secondary-color-white !important;
        border: 1px solid $primary-color-blue;
    }
}