@import '../Settings/_settings.colors';

.btn {
    background-color: $primary-color-blue !important;
    transition: all 0.3s ease-out;

    &:hover{
        background-color: $secondary-color-blue !important;
    }

    &:active {
        background-color: $secondary-color-blue !important;
    }
}

.btn-primary:not([disabled]):not(.disabled):active {
    background-color: $secondary-color-blue !important;
}
