.demo-flip-book {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.btn-close-container {
  width: 840px;
  display: flex;
  justify-content: flex-end;
}

.btn-close-diploma {
  width: 110px;
  height: 40px;
  line-height: 1 !important;
}

.demo-flip-book .page {
  background: white;
  overflow: hidden;
  cursor: pointer;
}

.demo-flip-book img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.modal {
  height: 100vh !important;
}

.modal-dialog {
  width: 100% !important;
  max-width: 100% !important;
  height: 100vh !important;
  margin: 0 !important;
}

.modal-content {
  height: 100vh !important;
}

.modal-header {
  display: flex;
  align-items: center;
}

.modal-footer {
  height: 80px !important;
  display: flex;
  justify-content: space-between !important;
}
