@import '../../public/sass/Settings/settings.colors';
@import '../../public/sass/Settings/settings.breakpoints';

@import '../../public/sass/Tools/tools.mixins';

.education-container {
    margin-top: 50px;

    & .education-softuni-image-container {
        border-radius: 5px;
        @include box-shadow;
        overflow: hidden;

        & .education-softuni-image {
            cursor: pointer;
        }

        @include for-tablet-down {
            width: 100%;
        }

        @include for-tablet-up {
            width: 100%;
        }

        @include for-desktop-up {
            width: 780px;
        }

        @include for-phone-only {
            width: 100%;
        }
    }
}