@import '../../public/sass/Tools/_tools.mixins';
@import '../../public/sass/Settings/_settings.breakpoints';

.development-environments-side-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;


    & .development-environments-inner-container {
        position: relative;
        margin: 0.5% 0%;
    }

    //bottom title line
    .title-environments::after {
        content: "";
        display:  inline-block;
        position: absolute;
        height: 2px;
        background-color: hsl(0, 0%, 0%);
        left: 0px;
        top: 30px;
    }

    //
    //current title with current width
    //
    .title-js::after {
        width: 140px !important;
    }

    .title-csharp::after {
        width: 35px !important;
    }

    .title-java:after {
        width: 60px !important;
    }

    .title-php:after {
        width: 135px !important;
    }

    .title-python:after {
        width: 88px !important;
    }
}

