.skills-programming-language-container > p {
  font-size: 20px;
}

.skills-programming-language-container > p > .gulp {
  font-size: 26px !important;
}

.skills-card-container {
  width: 250px;
  height: auto;
}

#skills-btn {
  height: 50px !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.skills-gif {
  width: 100%;
}
