@import '../../public/sass/Settings/settings.colors';

.about-container {
    & .about-firstname {
        font-weight: bold;
        text-transform: uppercase;
    }

    & #hr-about {
        margin-top: 50px;
    }

    & .more-info-container {
        margin-top: 30px;

        & .more-info-btn {
            width: 150px;
            height: 50px !important;
        }
    }

    & .about-knowledge-of-language {
        font-size: 24px;
        font-weight: bold;
    }
}