@import '../../public/sass/Settings/settings.breakpoints';
@import '../../public/sass/Settings/settings.colors';

@import '../../public/sass/Tools/tools.mixins';


.Left-Side-Menu-Container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100vh;
    background-color: $primary-color-blue;
    color: $secondary-color-white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr 200px;
    overflow: hidden;
    z-index: 99 !important;

    @include for-tablet-down {
        width: 250px;
    }

    @include for-phone-only {
        grid-template-rows: 450px 500px 200px;
        width: 100%;
        height: 1150px;
        position: relative;
    }

    & .image-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        & > .nav-logo {
            width: 200px;
            height: 200px;
            z-index: 100;
            display: block;
            cursor: pointer;
            border-radius: 50%;
            margin-left: 0px !important;
            @include box-shadow;
        }
    }
}

.nav-link-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 22px;
    text-transform: uppercase;

    @include for-tablet-up {
        align-items: left;
        padding-left: 50px;
    }

    @include for-tablet-down {
        align-items: left;
        padding-left: 30px;
    }

    @include for-phone-only {
        align-items: center;
        padding-left: 0px;
    }

    & > .link-container {
        margin: 10px 0px !important;
        position: relative;
    }

    & > .link-container > a {
        transition: all 0.4s ease-out;
        font-weight: bold;
        color: $secondary-color-white;
    }

    & > .link-container > i {
        opacity: 1;
        position: absolute;
        top: 5px;
        left: -20px;
        font-size: 24px;
        color: $secondary-color-white !important;
        transition: all 0.3s ease-out;
    }

    // & .about-link:hover ~ .about-caret-right {
    //     opacity: 1;
    // }

    // & .education-link:hover ~ .education-caret-right {
    //     opacity: 1;
    // }

    // & .skills-link:hover ~ .skills-caret-right {
    //     opacity: 1;
    // }

    // & .qualification-link:hover ~ .qualification-caret-right {
    //     opacity: 1;
    // }

    // & .projects-link:hover ~ .projects-caret-right {
    //     opacity: 1;
    // }

    // & .environments-link:hover ~ .environments-caret-right {
    //     opacity: 1;
    // }
}

.author-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}