@import '../../../public/sass/Tools/tools.mixins';
@import '../../../public/sass/Settings/settings.colors';
@import '../../../public/sass/Settings/settings.breakpoints';

.table-container {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    align-items: center;

    @include for-phone-only {
        justify-content: flex-start;
    }

    @include for-tablet-portrait-up  {
        justify-content: flex-start;
    }

    @include for-big-desktop-up {
        justify-content: center;
    }
    
    & table {
        cursor: pointer;
        @include box-shadow;
        border-radius: 5px;
        overflow: hidden;

        @include for-phone-only {
            width: 100%;
        }

        @include for-tablet-landscape-up {
            width: 100%;
        }

        @include for-desktop-up {
            width: 780px;
        }

        @include for-big-desktop-up {
            width: 1000px;
        }

        & thead {
            background-color: $primary-color-blue;

            &:hover {
                background-color: $primary-color-blue !important;
            }
        }

        & .table-grid {
            width: 100%;
            display: grid;
            grid-template-rows: 1fr;

            @include for-phone-only {
                grid-template-columns: 50px 1f 1fr 80px;
            }

            @include for-tablet-landscape-up {
                grid-template-columns: 50px 1fr 1fr 80px;
            }

            @include for-tablet-up {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            @include for-desktop-up {
                grid-template-columns: 50px 300px 1fr 80px;
            }
        }
    }
}